@font-face {
  font-family: "iconfont"; /* Project id 4355188 */
  src: url('//at.alicdn.com/t/c/font_4355188_h6xww1bu5l8.woff2?t=1701535248782') format('woff2'),
       url('//at.alicdn.com/t/c/font_4355188_h6xww1bu5l8.woff?t=1701535248782') format('woff'),
       url('//at.alicdn.com/t/c/font_4355188_h6xww1bu5l8.ttf?t=1701535248782') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e692";
}

.icon-xiayu:before {
  content: "\e622";
}

.icon-jingxuan:before {
  content: "\e74c";
}

.icon-tongxinyuantu:before {
  content: "\e629";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-moonyueliang:before {
  content: "\e69f";
}

.icon-store:before {
  content: "\e655";
}

.icon-shell:before {
  content: "\e85a";
}

