@font-face {
  font-family: "iconfont"; /* Project id 4355188 */
  src: url('//at.alicdn.com/t/c/font_4355188_zzgq0r0eu6l.woff2?t=1701433862449') format('woff2'),
       url('//at.alicdn.com/t/c/font_4355188_zzgq0r0eu6l.woff?t=1701433862449') format('woff'),
       url('//at.alicdn.com/t/c/font_4355188_zzgq0r0eu6l.ttf?t=1701433862449') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huo:before {
  content: "\e66c";
}

.icon-moonyueliang:before {
  content: "\e69f";
}

.icon-store:before {
  content: "\e655";
}

.icon-shell:before {
  content: "\e85a";
}

